<div class="card border-0 bg-light mt-xl-5" data-diy="place" data-diy-id="${path}">
	<div class="card-body p-4 py-lg-5">
		<div class="d-flex align-items-center justify-content-center">
			<div class="text-center">
				<div class="h6 fw-bolder">${(metadata.extendData.title)!}</div>
				<p class="text-muted mb-4">
					<a href="${(metadata.extendData.link)!}">${(metadata.extendData.concat)!}</a>
				</p>
				<div class="h6 fw-bolder">${(metadata.extendData.follow)!}</div>
				<#list page.list as a>
				<a class="fs-5 px-2 link-dark" href="${a.url}"><img src="${a.cover}" alt="${a.title}"/></a>
				</#list>
			</div>
		</div>
	</div>
</div>