<!-- Call to action-->
<aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5" data-diy="place" data-diy-id="${path}">
	<div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
		<div class="mb-4 mb-xl-0">
			<div class="fs-3 fw-bold text-white">${(metadata.extendData.title)!}</div>
			<div class="text-white-50">${(metadata.extendData.description)!}</div>
		</div>
		<div class="ms-xl-4">
			<form method="post" action="${site.dynamicPath}place/save">
				<div class="input-group mb-2">
						<input name="path" type="hidden" value="/home/efa7a561-5f4a-440b-a224-5f2ed057ce4f.html"/>
						<input name="returnUrl" type="hidden" value="${site.dynamicPath}"/>
						<input class="form-control" type="email" name="title" required="required" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
						<button class="btn btn-outline-light" id="button-newsletter" type="submit">Sign up</button>
				</div>
			</form>
			<div class="small text-white-50">${(metadata.extendData.privacy)!}</div>
		</div>
	</div>
</aside>